* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0 auto;
}

a,
button {
  transition: all 0.5s ease;
}

.header .menu__list-item a:after, .header .menu__list-item a:before {
  background-color: #000;
}
.header__main-menu a.menu__link {
  color: #000;
}
.header__main-menu a.menu__link--active, .header__main-menu a.menu__link:hover {
  color: #000;
}
.header.scrolled {
  background: rgba(32, 145, 249, 0.7);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}
.header .list-item1,
.header .list-item4 {
  border: 1px solid #000;
}
.header .list-item2__link {
  color: #000;
}
.header .list-item2__inlet {
  border: 2px solid #000;
}

.header__hamburger.is-active .header__hamburger-inner,
.header__hamburger.is-active .header__hamburger-inner:before,
.header__hamburger.is-active .header__hamburger-inner:after {
  background-color: #000;
  outline: 0 none;
}

.navbar__link {
  color: #000;
}
.navbar__link:hover {
  color: #2091f9;
}

.post {
  background-attachment: fixed;
}

@media only screen and (max-width: 600px) {
  .about__inner {
    padding-top: 150px;
  }

  .pre_menu {
    padding: 20px;
  }
}