@import "reset";
.header {
    .menu__list-item {
        & a:after,
        & a:before {
            background-color: #000;
        }
    }
    &__main-menu a.menu__link {
        color: #000;
        &--active,
        &:hover {
            color: #000;
        }
    }
    &.scrolled {
        background: rgba(32, 145, 249, .7);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    }
    .list-item1,
    .list-item4 {
        border: 1px solid #000;
    }
    .list-item2 {
        &__link {
            color: #000;
        }
        &__inlet {
            border: 2px solid #000;
        }
    }
}

.header__hamburger.is-active .header__hamburger-inner,
.header__hamburger.is-active .header__hamburger-inner:before,
.header__hamburger.is-active .header__hamburger-inner:after {
    background-color: #000;
    outline: 0 none;
}

.navbar__link {
    color: #000;
    &:hover {
        color: #2091f9;
    }
}

.blog {
    .blog_header {
        text-align: center;
        width: 90%;
        max-width: 710px;
        margin: 0 auto;
        padding: 120px 0;
        .blog_pretitle {
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.1px;
            color: #737373;
        }
        h1 {
            font-weight: 800;
            font-size: 58px;
            line-height: 80px;
            letter-spacing: 0.2px;
            color: #252B42;
            padding: 10px;
        }
        p {
            font-weight: 500;
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 0.2px;
            color: #737373;
            padding: 10px;
        }
    }
    .blog_post {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        #post_article {
            padding: 60px 50px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .head_article {
                margin: 0 10px 120px 10px;
                width: 100%;
                max-width: 330px;
                overflow: hidden;
                cursor: pointer;
                box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
                border-radius: 2px;
                background: #ffffff;
                &:hover {
                    transform: scale(1.1);
                    transition: all 0.2s ease;
                    .article_text{
                        a h3{
                            color: #8ec2f2;
                        }
                    }
                }
                .article_img {
                    img {
                        object-fit: cover;
                        width: 100%;
                        vertical-align: top;
                        height: 220px;
                    }
                }
                .article_main {
                    padding: 30px 12px 26px 28px;
                    .article_text {
                        span {
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.1px;
                            color: #BDBDBD;
                        }
                        h3 {
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 36px;
                            letter-spacing: 0.1px;
                            color: #252B42;
                            padding: 12px 0 14px;
                        }
                        p {
                            padding-bottom: 28px;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 28px;
                            letter-spacing: 0.2px;
                            color: #858585;
                        }
                    }
                    .blog_link {
                        width: 100%;
                        max-width: 200px;
                        display: flex;
                        justify-content: space-between;
                        a {
                            text-decoration: none;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.1px;
                            color: #8EC2F2;
                            &:hover{
                                color: #0c0c6d;
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }
}

.paginationjs {
    .paginationjs-pages {
        display: flex;
        justify-content: center;
        padding: 0 0 80px 0;
        margin-top: -28px;
        ul {
            background: #FFFFFF;
            border: 1px solid #BDBDBD;
            border-radius: 6px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            li {
                border: none;
                &.active>a {
                    color: #000;
                    background: #ffffff;
                    line-height: 0;
                    height: 78px;
                }
                a {
                    font-family: 'Roboto', sans-serif;
                    padding: 0 32px;
                    height: 78px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 16px;
                    color: #2091F9;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: none;
                    cursor: pointer;
                }
            }
        }
    }
}

.paginationjs .paginationjs-pages li:last-child>a {
    border-radius: 0 6px 6px 0;
    border-left: 1px solid #BDBDBD;
    font-size: 26px;
    background: #F3F3F3;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #2091F9;
}

.paginationjs .paginationjs-pages li:first-child>a {
    border-radius: 6px 0 0 6px;
    border-right: 1px solid #BDBDBD;
    font-size: 26px;
    background: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #2091F9;
}

.paginationjs .paginationjs-pages li:last-child {
    border-right: none;
    border-radius: 0 6px 6px 0;
}

@media screen and (max-width:1280px) {
    .blog .blog_post #post_article {
        justify-content: space-around;
    }
    .blog .blog_post #post_article .head_article {
        margin: 0 10px 50px;
    }
    .paginationjs .paginationjs-pages {
        margin-top: 16px;
    }
}

@media screen and (max-width:600px) {
    .blog .blog_post #post_article {
        padding: 60px 0 0;
    }
}

@media screen and (max-width:400px) {
    .blog .blog_header .blog_pretitle {
        font-size: 16px;
    }
    .blog .blog_header h1 {
        font-size: 40px;
    }
}

@media screen and (max-width:470px) {
    .paginationjs .paginationjs-pages ul li a {
        padding: 0 24px;
    }
}

@media screen and (max-width:470px) {
    .paginationjs .paginationjs-pages ul li a {
        padding: 0 20px;
    }
}