@import "reset";
.header {
    &.scrolled {
        background: rgba(32, 145, 249, .7);
    }
    &__enter {
        margin-right: 40px;
    }
    &__link-sing_in {
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #252B42;
    }
}

.login {
    padding: 100px 0;
    width: 90%;
    max-width: 548px;
    margin: 0 auto;
    h2 {
        font-weight: bold;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #252B42;
        padding-bottom: 50px;
        text-align: center;
    }
    .login_form {
        display: flex;
        flex-direction: column;
        .preform_text {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #737373;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        #mail,
        #password {
            margin-bottom: 30px;
            width: 100%;
            border-radius: 10px;
            border: 2px solid #E8E8E8;
            border-radius: 10px;
            height: 58px;
            outline: none;
            padding: 20px 0 20px 26px;
            font-size: 18px;
            font-weight: 700;
            color: #000;
            &::placeholder {
                font-weight: 500;
                font-size: 15px;
                line-height: 16px;
                letter-spacing: 0.1px;
                color: #B0B0B0;
            }
            &:focus {
                border: 2px solid #2091F9;
            }
            &:focus::placeholder{
                color: transparent;
            }
        }
        .forget_pass {
            display: flex;
            justify-content: flex-end;
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            text-align: right;
            letter-spacing: 0.2px;
            color: #737373;
            &:hover {
                color: #2091F9;
            }
        }
        #mail {
            margin-bottom: 30px;
        }
        #password {
            margin-bottom: 10px;
        }
    }
    .log_btn {
        button {
            width: 100%;
            height: 58px;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            margin: 30px 0;
            border: 1px solid transparent;
        }
        .login_btn {
            background: #2091F9;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #FFFFFF;
            &:hover {
                background: #ffffff;
                color: #2091F9;
                border: 2px solid #2091F9;
            }
        }
        .line_or {
            position: relative;
            text-align: center;
            span {
                font-weight: bold;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.2px;
                color: #737373;
                &::before {
                    content: '';
                    position: absolute;
                    width: 244px;
                    border: 1px solid #DADADA;
                    background: #DADADA;
                    top: 50%;
                    left: 0;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 244px;
                    border: 1px solid #DADADA;
                    background: #DADADA;
                    top: 50%;
                    right: 0;
                }
            }
        }
        .face_btn {
            background: #3950C5;
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.2px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: #ffffff;
                color: #3950C5;
                border: 2px solid #3950C5;
            }
            i {
                margin-right: 10px;
                font-size: 24px;
                border-radius: 2px;
            }
        }
        .have_account {
            text-align: center;
            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.2px;
                color: #252B42;
                span a {
                    text-decoration: none;
                    color: #2091F9;
                }
            }
        }
    }
}

@media screen and(max-width: 600px) {
    .login .log_btn .line_or span::before {
        width: 200px;
    }
    .login .log_btn .line_or span::after {
        width: 200px;
    }
}

@media screen and(max-width: 500px) {
    .login .log_btn .line_or span::before {
        width: 160px;
    }
    .login .log_btn .line_or span::after {
        width: 160px;
    }
}

@media screen and(max-width: 420px) {
    .login .log_btn .line_or span::before {
        width: 130px;
    }
    .login .log_btn .line_or span::after {
        width: 130px;
    }
}

@media screen and(max-width: 340px) {
    .login .log_btn .line_or span::before {
        width: 110px;
    }
    .login .log_btn .line_or span::after {
        width: 110px;
    }
}